{% extends "layout.html" %}
{% block title %}Help{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <div class="container">
        <div class="blog-post">
            <h2 class="blog-post-title">密码管理使用向导</h2>
            <p class="blog-post-meta"></p>
            <p>日常生活中，密码安全是大家无法忽视的问题。如何保证自己的账户安全，有个方法就是设置不同的密码，并且定期的去改变密码。
                但是面对自己设置杂乱无章的密码，有没有一种办法在保证密码安全的同时，更好的管理自己的密码呢？</p>
            <h3>微创意为你提供一个安全有效的管理密码方式。</h3>
            <p>大部分情况下，我们的密码一般说来由3部分组成，分别是：字母 + 特殊字符（可以有或者没有）+ 数字。</p>
            <p>比方说：</p>
            <pre><code>zhanbin@123456</code></pre>
            <h3>微创意可以帮您用一种规律，一个密码孪生出无数个密码出来。</h3>
            <p>玩法一，假设把上面的密码抽象成：私钥（字母+特殊字符）+公钥（数字），那么上面的密码私钥就是zhanbin@,公钥就是123456。</p>
            <p>私钥您自己留心底，不能告诉任何人（微创意也不会跟你要！）。然后您可以把不同的网址作为您的公钥口令，通过微创意为您生成的key来加密，通过算法生成数字密码。</p>
            <pre><code>举例百度是baidu, 微创意根据你的手机号创建一个key: 6594073182, 通过算法加密把baidu转成33142。最终密码就是zhanbin@33142</code></pre>
            <p>注意几点：</p>
            <ul>
                <li>微创意不会以任何形式保存您的密钥，甚至是口令。微创意只是根据不同的手机和邮箱生成一个唯一的key。因此，密码生成的玩法规律必须自己要记住。</li>
                <li>在变更key的时候，按照同一个规则下生成的所有密码都会变化，这个后果是啥？就是您有可能会找不到原来的密码，虽然微创意为您保留历史的key。所以请慎用重置功能。</li>
                <li>上面设置规律是微创意建议的一种，实际上为了保证大家的自由度，玩法有很多种，大家自己发掘！</li>
            </ul>
            <p>返回<a href="{{ url_for('pwd_tool')}}">密码管理</a></p>
            <p>如果您有任何的建议，不要迟疑，联系作者：bin</p>
            <p>联系方式：18016381485， 邮箱：zb0618@gmail.com</p>
        </div>
    </div>
{% endblock %}